body{
    text-align: center;
    margin: 0;
    background-color: #222;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
i {
    border: solid #fff;
    border-width: 0 .75em .75em 0;
    display: inline-block;
    padding: .75em;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .5s linear;
    opacity: 1;
    &.right{
        right: 10%;
        transform: rotate(-45deg);
    }
    &.left{
        left: 10%;
        transform: rotate(135deg);
    }
    &:active, &:hover{
        border-color: #27fff4;
    }
}
.hid{
    opacity: 0;
    pointer-events : none;
}
.click{
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
}
.center{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}
#container{
    @extend .center;
    top: 50%;
    height: auto;
    transition: opacity .2s linear;
    max-width: 70%;
    z-index: 1;
}
#title{
    @extend .center;
    top: 15%;
    font-size: 3em;
}