body {
  text-align: center;
  margin: 0;
  background-color: #222;
  color: #fff;
  font-family: 'Roboto', sans-serif; }

i {
  border: solid #fff;
  border-width: 0 .75em .75em 0;
  display: inline-block;
  padding: .75em;
  position: fixed;
  top: 50vh;
  transform: translate(-50%, -50%);
  transition: opacity .5s linear;
  opacity: 1; }
  i.right {
    right: 5%;
    transform: rotate(-45deg); }
  i.left {
    left: 5%;
    transform: rotate(135deg); }
  i:hover {
    border-color: #27fff4; }
  i:active {
    border-color: #1cbcb4; }

#img {
  max-width: 95vw;
  min-width: 40vw;
  height: auto; }

.click {
  cursor: pointer; }

.center, #container, #title {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%); }

#container {
  top: 50%;
  height: auto;
  max-width: 95vw;
  z-index: 1; }

#title {
  top: 12vh;
  font-size: 2.5em; }

.hid {
  visibility: hidden; }

@media screen and (min-width: 320px) and (max-width: 768px) and (orientation: portrait) {
  i {
    top: 80vh; }
    i.right {
      right: 25%; }
    i.left {
      left: 25%; }
  #title {
    top: 15vh; } }
